<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <title>Welcome to Help for Hire</title>
    <link rel="stylesheet" type="text/css" href="welcome.css">
  </head>

  <body>
    <h1>Welcome to Help for hire</h1>

    <div class="main_help">

      <div class="help_me">
        <h2>I am looking for help?</h2>
        <a href="services">click here</a>
      </div>

      <div class="give_help">
        <h2>I want to help somebody</h2>
        <a href="services/new">click here</a>
      </div>

    </div>




  </body>

</html>
