/*Used colors:
#D8D8D8 / grey background
#065A6B / blue
#07282F / dark blue
#9BB7BC / light blue
*/

body {
  background-color: #D8D8D8;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-weight: 500;
}

body a{
  color: #065A6B;
}

body a:hover {
  color: #07282F;
}

/* typo */

h1 {
  margin: 0;
}

/* header */

header {
  background-color: #065A6B;
  margin: 0;
}

header .container {
  height: 120px;
  padding-left: 20px;
  padding-top: 0px;
}
.topleft {
  width: 800px;
  float: left;
}
.topleft h1 {
  margin-top: 30px;
  font-size: 53px;
  font-weight: 500;
}
.topleft a {
  margin-top: 30px;
  font-size: 53px;
  color: #9BB7BC;
  text-decoration: none;
}
.topright {
  float: left;
  color: #9BB7BC;
}

/* nav */

nav {
  background-color: #07282F;
}
nav a{
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
nav ul {
  margin: 0;
  padding: 10px 20px
}
nav li {
  list-style-type: none;
  text-transform: uppercase;
}
