// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* styling for form helper */
.form {
  background-color: #ffffff;
  padding: 10px;
}
.form h1 {
  margin: 10px 0;
}

/* styling for form to offer services */

.form-offer {

}
.form-offer .h_category {
  font-weight: bold;
  font-size: 20px;
}
.form-offer .h_task {
  float: left;
}
.form_block {
  display: flex;
}
.block_left{
  flex: 1;
}
.block_centre {
  flex: 1;
}
.block_right {
  flex: 1;
}
.field_right {
  width: 100%;
}
